<?xml version="1.0"?>
<launch>
  <node pkg="cob_marker" type="cob_marker" name="cob_marker" output="screen">
	<remap from="/cob_marker/image_color" to="/camera/rgb/image_color"/>
	<remap from="/cob_marker/camera_info" to="/camera/rgb/camera_info"/>
	<remap from="/cob_marker/point_cloud" to="/camera/depth_registered/points"/>
	<param name="algorithm" value="dmtx" />
	<param name="frame_id" value="/head_cam3d_link"/>
	<param name="dmtx_timeout" value="1.0" />
	<param name="publisher_enabled" value="true" />
	<param name="service_enabled" value="true" />
	<param name="action_enabled" value="true" />
	<param name="dmtx_max_markers" value="10"/>
	<param name="publish_2d_image" value="true"/>
	<param name="marker_size" value="0.1"/> <!-- in meter -->
  </node>

</launch>
