<?xml version="1.0"?>
<launch>
  <node pkg="cob_marker" type="cob_marker" name="cob_marker" output="screen">
	<remap from="/cob_marker/image_color" to="/stereo/right/image_color"/>
	<remap from="/cob_marker/camera_info" to="/stereo/right/camera_info"/>
	<remap from="/cob_marker/point_cloud" to="/cam3d/depth/points"/>
	<param name="algorithm" value="dmtx" />
	<param name="frame_id" value="/head_cam3d_link"/>
	<param name="dmtx_timeout" value="0.75" />
	<param name="publisher_enabled" value="true" />
	<param name="service_enabled" value="true" />
	<param name="action_enabled" value="true" />
	<param name="dmtx_max_markers" value="1"/>
	<param name="publish_2d_image" value="true"/>
	<param name="marker_size" value="0.08"/> <!-- in meter -->
	<param name="use_pointcloud" value="false"/>
  </node>

</launch>
